@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');
body{
    font-size: 13px;
    font-family: 'Manrope', sans-serif;
    background-color: hsl(210, 46%, 95%);
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.component{
    width: 46rem;
    display: grid;
    grid-template-columns: auto auto;
    border-radius: 10px;
    box-shadow: 0 8px 8px hsla(217, 19%, 35%, 0.06),
                0 16px 16px hsla(217, 19%, 35%, 0.06),
                0 32px 32px hsla(217, 19%, 35%, 0.06),
                0 64px 64px hsla(217, 19%, 35%, 0.06);
}
.picture{
    width: 22rem;
    border-radius: 10px 0 0 10px;
}
.content{
    width: 23rem;
    padding: 1.5rem 2.5rem 0;
    background-color: white;
    margin-left: -4rem;
    border-radius: 0 10px 10px 0;
}
.heading{
    color: hsl(217, 19%, 35%);
    font-size: 1.5em;
    font-weight: 700;
}
.description{
    font-size: 1em;
    font-weight: 500;
    color: hsl(212, 23%, 69%);
}
.details{
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
}
.personal-details{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    gap: 1rem;
    font-size: 1em;
}
.profile-photo{
    width: 2.5rem;
    border-radius: 50%;
}
.name{
    color: hsl(217, 19%, 35%);
    font-weight: 700;
    margin: 0;
}
.date{
    font-weight: 500;
    margin: 0;
    color: hsl(212, 23%, 69%);
}
.share{
    background-color: hsl(210, 46%, 95%);
    color: hsl(214, 17%, 51%);
    width: 20px;
    height: 20px;
    padding: 5px;
    font-size: 0.9rem;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}
.share:hover{
    background-color: hsl(217, 19%, 35%);
    color: white;
}
.share-bubble{
    display: none;
    position: absolute;
    top: -3rem;
    right: -4.35rem;
}
.active .share-bubble{
    display: block;
}
.social-media{
    width: 9rem;
    height: 2.5rem;
    display: grid;
    padding: 0.1rem 1rem;
    font-weight: 500;
    grid-template-columns: auto auto auto auto;
    justify-content: space-around;
    align-items: center;
    background-color:hsl(217, 19%, 35%);
    color: hsl(212, 23%, 69%);
    border-radius: 5px;
    z-index: 2;
}
.share-text{
    font-size: 0.75em;
    letter-spacing: 3px;
    margin: 0;
}
.icons{
    color: white;
    font-size: 1.25em;
    margin: 0;
    cursor: pointer;
}
.icons:hover{
    color: hsl(212, 23%, 69%);
}
.pointer{
    position: absolute;
    width: 1rem;
    height: 1rem;
    background-color: hsl(217, 19%, 35%);
    border-radius: 2px;
    transform: rotate(45deg);
    bottom: -0.5rem;
    left: 4.75rem;
}
@media (max-width: 900px){
    .component{
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        width: 23rem;
        border-radius: 10px;
        margin: 5rem auto;
    }
    .picture{
        width: 23rem;
        border-radius: 10px 10px 0 0;
    }
    .content{
        width: 20.6rem;
        margin: 0;
        padding: 1.2rem 1.2rem 0;
        border-radius: 0 0 10px 10px;
    }
    .name{
        font-size: 1.25em;
    }
    .share{
        width: 25px;
        height: 25px;
        padding: 10px;
        font-size: 1.25rem;
    }
    .active .share{
        z-index: 2;
        background-color: hsl(214, 17%, 51%);
        color: hsl(210, 46%, 95%);
    }
    .active .share-bubble{
        display: block;
        position: absolute;
        top: 0.25rem;
        right: -1.25rem;
    }
    .active .social-media{
        width: 15rem;
        height: 4rem;
        padding: 0.5rem 7rem 0.5rem 1rem;
        font-size: 1.75em;
        border-radius: 0 0 10px 10px;
        z-index: 2;
    }
    .pointer{
        display: none;
    }
}
@media (max-width: 425px){
    .component{
        width: 20rem;
    }
    .picture{
        width: 20rem;
    }
    .content{
        width: 17.6rem;
    }
    .active .social-media{
        width: 12rem;
    }
}